doctype html
html
  head
    title Southwest Price Drop Bot
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href="https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans" rel="stylesheet")
    style.
      html, body {
        font-family: 'PT Sans', 'sans-serif';
        margin: 0;
        padding: 0;
      }
      a {
        color: black;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0;
      }
      .buttons .button {
        flex: 0 1 10000000px;
        height: 22px;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
      }
      .buttons .button-spacer {
        flex: 0 0 10px;
      }

      header {
        background: #304cb2;
        padding: 5px 0;
        text-align: center;
      }
      header a {
        color: white;
        font-size: 20px;
        text-decoration: none;
      }

      main {
        box-sizing: border-box;
        padding: 10px 5px 0;
        margin: 0 auto;
        max-width: 375px;
      }

  body
    header
      a(href='/') Southwest Price Drop Bot

    main
      block content
