doctype html
html
  head
    title Southwest Price Drop Bot
    style(type='text/css').
      a {
        color: indianred;
      }
  body
    h1
      a(href='/') Southwest Price Drop Bot
    block content
