doctype html
html
  head
    title Southwest Price Drop Bot
    meta(name='viewport' content='width=device-width, initial-scale=0.9')
    style.
      a {
        color: indianred;
      }
  body
    h1
      a(href='/') Southwest Price Drop Bot

    if auth
      p
        | Signed in as #{auth.user}
        br
        a(href='/sign-out') Sign Out

    block content
