extends layout.pug

block content
  style(type='text/css').
    td:first-child {
      padding-right: 5px;
    }
    span.help {
      display: none;
      margin-left: 5px;
    }
    input:focus + span.help {
      display: inline;
    }
    code.example {
      background: #eeeeee;
      border: 1px solid black;
      margin-left: 4px;
      padding: 1px 3px;
    }

  form(action='/' method='post')
    table
      tbody
        tr
          td
            label(for='date') Date
          td
            input(id='date' name='date' type='date')

        tr
          td
            label(for='from') From
          td
            input(id='from' name='from' type='text' placeholder='DEN')
            span.help The three-letter airport code, example:
              code.example DEN

        tr
          td
            label(for='to') To
          td
            input(id='to' name='to' type='text' placeholder='SFO')
            span.help The three-letter airport code, example:
              code.example SFO

        tr
          td
            label(for='number') Flight Number(s)
          td
            input(id='number' name='number' type='text' placeholder='123,456')
            span.help If nonstop, separate each flight number with a comma, example:
              code.example 123,456

        tr
          td
            label(for='price') Price Threshold
          td
            input(id='price' name='price' type='number' placeholder='175')
            span.help We'll text you if the price drops below this threshold, example:
              code.example 160

        tr
          td
            label(for='phone') Phone Number
          td
            input(id='phone' name='phone' type='tel' placeholder='12223334444')
            span.help Include the country code and use only numbers, example:
              code.example 12223334444

        tr
          td
          td
            button(type='submit') Add Price Alert
